<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>CRUD Pokemones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="{% static 'css/stylesCRUD.css'%}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="form" method="POST">
        <div class="card blur-card" style="width: 500px; margin: 0px auto; margin-top: 50px">
            <div class="card-header" id="blur-card">Mantenedor de Pokemones</div>
            <div class="card-body" id="blur-card">
                <form action="../addPokemon/" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mb-12">
                                    <label for="descripcion" class="col-form-label-sm form-label">Nombre Pokemon</label>
                                    <input type="text" class="form-control form-control-sm" id="nombre_pokemon"
                                        name="nombre_pokemon" />
                                </div>
                                <div class="col-6 mb-4">
                                    <label for="region" class="col-form-label-sm form-label">Region</label>
                                    <input type="text" class="form-control form-control-sm" id="region" name="region" />
                                </div>
                                <div class="col-6 mb-4">
                                    <label for="Tipo" class="col-form-label-sm form-label">Tipo</label>
                                    <select id="tipo" name="tipo" class="form-control form-control-sm">
                                        <option value="0" selected>Seleccionar tipo</option>
                                        <option value="Bicho">1-Bicho</option>
                                        <option value="Dragon">2-Dragón</option>
                                        <option value="Electrico">3-Eléctrico</option>
                                        <option value="Hada">4-Hada</option>
                                        <option value="Lucha">5-Lucha</option>
                                        <option value="Fuego">6-Fuego</option>
                                        <option value="Volador">7-Volador</option>
                                        <option value="Fantasma">8-Fantasma</option>
                                        <option value="Planta">9-Planta</option>
                                        <option value="Tierra">10-Tierra</option>
                                        <option value="Hielo">11-Hielo</option>
                                        <option value="Normal">12-Normal</option>
                                        <option value="Veneno">13-Veneno</option>
                                        <option value="Psiquico">14-Psíquico</option>
                                        <option value="Roca">15-Roca</option>
                                        <option value="Acero">16-Acero</option>
                                        <option value="Agua">17-Agua</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-12">
                                        <center>
                                            <input type="submit" class="btn btn-primary" value="Ingresar" />
                                            <a href="../" class="btn btn-secondary">Cancelar</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div id="grillas">
                <div class="card blur-card">
                    <div class="card-header">Listado de Pokemones</div>
                    <div class="card-body">
                        {% if pokemones %}

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Region</th>
                                    <th>Tipo</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pokemon in pokemones %}

                                <tr>
                                    <td>{{ pokemon.nombre_pokemon }}</td>

                                    {% for region_pokemon in regiones_pokemones %}
                                    {% if region_pokemon.id_pokemon_id == pokemon.id %}
                                    {% for region in regiones %}
                                    {% if region.id == region_pokemon.id_region_id %}
                                    <td>{{ region.nombre_region }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}

                                    {% for tipo_pokemon in tipos_pokemones %}
                                    {% if tipo_pokemon.id_pokemon_id == pokemon.id %}
                                    {% for tipo in tipos %}
                                    {% if tipo.id == tipo_pokemon.id_tipo_id %}
                                    <td>{{ tipo.nombre_tipo }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}

                                    <td>
                                        <a href="../ModPokemon/{{ pokemon.id }}"
                                            class="btn btn-success btn-sm">Modificar</a>
                                        <a href="../eliminarPokemon/{{ pokemon.id }}"
                                            class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                                <div class="col-12 help-text">{{ pokemon.errors }}</div>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-info">No hay Pokemones para Mostrar</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>